@import '_variables';
.header { padding: 3% 6%; }
.nav {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__section {
    padding: 6% 6% 0 6%;
    width: 100%;
    margin: 0 auto;
  }

  &__intro,
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__intro { margin: 20px 0; }
  &__menu { margin: 0 0 10px 0; }

  &__logo {
    margin-left: 15px;

    &-image { max-height: 60px; }
  }

  &__burger {
    margin: -5px 10px;

    img {
      width: 40px;
      height: 40px;
      background-size: cover;
    }
  }

  &__line {
    background-color: $gray;
    opacity: 0.4;
    height: 2px;
    width: 100%;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    max-width: 560px;
    margin: 0;
    padding: 0;
  }

  &__item { margin: 0 15px; }

  &__link {
    display: block;
    padding: 0 15px 10px 2px;
    color: $gray;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;

    &:hover {
      color: $accent;
      font-size: 28px;
      margin-top: 15px;
      text-decoration: underline;
      text-underline-offset: 26px;
    }
  }

  &__title {
    position: relative;
    max-height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15% 0 25% 0;

    &-text {
      font-size: 164px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: -6%;
      color: $white;
      max-width: 600px;
    }

    &-numbers {
      display: flex;
      flex-direction: column;
      max-height: 600px;
      font-size: 24px;
      font-weight: 600;
      gap: 50px;

      span {
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover { opacity: 0.6; }
      }
    }

    &-number {
      text-decoration: none;
      color: $gray;
      font-size: 24px;

      &--active {
        display: flex;
        align-items: center;
        color: $white;
        font-size: 40px;
      }
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    max-width: 300px;
    min-width: 100px;
    padding: 5px 15px;
    background-color: $gray;
    color: $white;
    border-radius: 32px;
    border: none;

    &:hover {
      background-color: $gray-medium;
      color: $gray-light;

      .nav__input { color: $gray; }
      .nav__button-icon { opacity: 0.6; }
    }
  }

  &__input {
    flex: 1;
    border: none;
    background: transparent;
    color: $white;
    font-size: 16px;
    outline: none;
    max-width: 120px;
    flex: 1 1;
  }

  &__submit {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__button-icon { max-width: 36px; }
}