$gray: #A2A2A2;
$gray-light: #f5f5f5;
$accent: #cb460e;
$white: #ffffff;
$black: #000;
$gray-medium: #c5c5c5;
$accent-hover: #d12f2f;
$bg-icon: rgba(162, 162, 162, 0.6);
$bg-icon-hover: rgba(162, 162, 162, 0.4);

$font-main: "Konkhmer Sleokchher", sans-serif;
$font-secondary: "Kokoro", sans-serif;
