@import '_variables';
@import '_footer';
@import '_header';
@import '_form';

body,
main {
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Konkhmer Sleokchher", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.background {
  margin: 0 auto;
  background-image: url('../images/image3.gif');
  background-size: cover;
  background-position: center;
}

.nav {
  
&__menu--title {
  color: #f5f5f5;
  text-align: left;
  max-width: 600px;
  line-height: 1.5;
  font-size: 64px;
}

  &__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin: 60px auto;
    color: $gray;

    &--block {
      position: relative;
      max-width: 600px;
      font-size: 20px;
      line-height: 1.6;

      a {
        display: inline-block;
        margin-top: 70px;
        color: $accent;
        text-decoration: none;
        font-weight: bold;
        opacity: 0.7;
        transition: color 0.5s ease, opacity 0.5s ease, text-decoration-color 0.5s ease;

        &:hover {
          text-decoration: underline;
          color: $accent-hover;
          text-underline-offset: 68px;
          
        }
      }

      .info__block--main {
        transition: opacity 0.3s ease;
      }
      .info__block--second {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s;
        transition: opacity 0.3s ease, color 0.3s ease;
      }

      &:hover {
        .info__block--main {
          opacity: 0;
        }

        .info__block--second {
          opacity: 1;
          color: $white;
        }
      }
    }
  }
}

.trade {
  background-color: $black;
  padding: 6%;
  margin: 0 auto;
  width: 100%;

  &__info {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  &__info-menu {
    background-color: $accent;
    display: inline-flex;
    color: $white;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 32px;
    padding: 5px 10px;
    align-self: center;
  }

  &__title {
    font-size: 40px;
    color: $gray-light;
    max-width: 780px;
    margin: 0 auto;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin: 60px auto 0 auto;
    gap: 25px;
  }

 .trade__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 16px;
  max-width: 400px;
  min-height: 490px;
  padding: 20px;
  box-sizing: border-box;
  flex: 1 1;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;

  &:hover {
    transform: scale(1.05);
    opacity: 1;
  }


    &--first {
      background-image: url('../images/tokyo.png');
    }
    &--second {
      background-image: url('../images/nagana.png');
    }
    &--third {
      background-image: url('../images/sakagawa.png');
    }
    &--fourth {
      background-image: url('../images/kyoto.png');
    }
  }

  &__top-right {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 5px;
  }

  &__name {
    color: $white;
    font-size: 32px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  &__icon {
    max-width: 100%;
    height: auto;
  }
}

.heart-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.tour-section {
  width: 100%;
  margin: 0 auto;
  padding: 6%;
  background-color: $black;
}

.tour-card {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-height: 680px;

  &--reverse {
    flex-direction: row-reverse;
    margin-top: 150px;
  }

  &__image {
    flex: 1;
    background-image: url('../images/nagana.png');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    border-radius: 32px;

    &--reverse {
      background-image: url('../images/kyoto.png');
    }
  }

  &__content {
    flex: 1;
    padding: 20px 0 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--reverse {
      padding: 20px 60px 0 0;
    }
  }

  &__title {
    font-size: 36px;
    color: $gray-light;
    text-align: left;
    font-weight: 600;
  }

  &__description {
    font-size: 18px;
    color: $gray-light;
    line-height: 1.5;
  }

  &__details {
    margin: 40px 0;
    font-size: 22px;
    color: $gray-light;
    font-weight: 600;
  }

  &__rating {
    color: $accent;
    font-size: 24px;
  }

  &__info-item {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  &__info-icon {
    width: 24px;
    height: 24px;
    margin-right: 40px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    margin-top: 40px;
    padding: 10px 16px;
    border: 2px solid $accent;
    border-radius: 32px;
    cursor: pointer;
    height: 100px;
    width: 46%;
    font-weight: 600;

    &--primary {
      background-color: transparent;
      color: $accent;
      font-size: 24px;
    }

    &--secondary {
      background-color: $accent;
      color: $black;
      font-size: 26px;
    }

    &:hover {
      padding: 10px 16px;
      font-size: 28px;
      height: 110px;
      background-color: $accent;
      color: $black;
      font-weight: 800;
    }
  }
}

.background2 {
  background-image: url('../images/back3.png');
  background-size: cover;
  background-position: center;
}

.why {
  width: 100%;
  height: auto;
  padding: 6%;

  &__title {
    text-align: start;
    text-transform: uppercase;
    color: $white;
    font-size: 96px;
    max-width: 700px;
    margin: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 100px auto 0 auto;
    gap: 20px;
  }

  &__item {
    border-radius: 16px;
    padding: 40px;
    box-sizing: border-box;
    flex: 1 1;
    background-color: $bg-icon-hover;
    color: $white;

    &:hover {
      background-color: $bg-icon;
    }

    &-number {
      font-size: 64px;
      margin: 0;
    }

    &-heading {
      font-size: 24px;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 20px;
      margin: 0;
    }
  }
}


@media (max-width: 1200px) {
  .nav__link {
    display: block;
    font-weight: 600;
    font-size: 21px;
  }

  .nav__menu--title {
    font-size: 58px;
  }

  .why__title {
    font-size: 92px;
  }

  .why__item h3 {
    font-size: 60px;
  }

  .why__item h4 {
    font-size: 22px;
  }

  .why__item p {
    font-size: 18px;
  }
}

@media (min-width: 960px) {
  .nav {
    &__burger {
      display: none;
    }
  }
}

@media (max-width: 960px) {
  .why__item {
    flex: 1 1 290px;
    padding: 32px;

    h3 { font-size: 56px; }
    h4 { font-size: 20px; }
    p  { font-size: 14px; }
  }

  .nav {
    &__list,
    &__button { display: none; }

    &__burger { display: block; }

    &__menu--title { font-size: 52px; }

    &__link {
      color: $gray-light;
      font-size: 22px;
      font-weight: 600;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover { color: $accent;text-decoration: none; }
    }

    &__info-block { font-size: 18px; }
    &__title-text { font-size: 132px; }
    &__title-number { font-size: 22px; }
    &__title-number--active { font-size: 38px; }
  }

  #nav-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba($black, 0.6);
    z-index: 900;
    display: none;
    transition: opacity 0.3s ease;
  }

  .nav__list--mobile {
    position: fixed;
    top: 80px; right: 6%;
    background-color: darken($black, 10%);
    border-radius: 16px;
    padding: 30px 40px;
    display: none;
    flex-direction: column;
    gap: 20px;
    z-index: 1000;
    box-shadow: 0 8px 24px rgba($black, 0.4);
    animation: fadeIn 0.3s ease forwards;

    &.active { display: flex; }
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to   { opacity: 1; transform: translateY(0); }
  }
 .trade {
    &__item { min-width: 48%; }
    &__title { font-size: 36px; }
}

  .why__title { font-size: 72px; max-width: 550px; }

}

@media (max-width: 768px) {
  .trade {

  &__container {
    gap: 40px;
  }
}
  .nav {
    &__title-text { font-size: 100px; max-width: 350px; text-align: right; }
    &__menu--title { font-size: 36px; text-align: center; margin: 0 auto; }
    &__title { margin: 30% 0; }
    &__title-number { font-size: 20px; }
    &__title-number--active { font-size: 36px; }

    &__info {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;

      &--block {
        font-size: 22px;
        max-width: 600px;
        margin: 60px auto;
        line-height: 1.6;

        &--second { display: none; }

        a { margin-top: 30px; }
      }
    }
  }

  .tour-card {
    flex-direction: column;
    width: 100%;
    margin: 40px auto;

    &__image { width: 100%; }
    &__content { width: 100%; padding: 4%; }
    &__title { font-size: 36px; }
    &__description { font-size: 18px; }
    &__details { font-size: 20px; }
    &__button--primary { font-size: 20px; }
    &__button--secondary { font-size: 22px; }
  }

  .why__item { flex: 1 1 240px; padding: 20px; }
  .why__title { font-size: 54px; max-width: 450px; }

  .trade__item { min-width: 100%; }
  .trade__title { font-size: 32px; }

  footer {
    display: flex; align-items: center;

    .nav__logo, .nav__line { display: none; }
  }

}

@media (max-width: 576px) {
  .nav__form { display: none; }
  .nav__menu--title { font-size: 32px; }
  .nav__info--block { font-size: 16px; }
  .nav__title-text { font-size: 78px; max-width: 300px; }
  .nav__title-number { font-size: 16px; }
  .nav__title-number--active { font-size: 32px; }

  .trade__title { font-size: 28px; }
  .why__title { font-size: 46px; max-width: 350px; }

  .tour-card {
    &__title { font-size: 32px; }
    &__description { font-size: 16px; }
    &__details { font-size: 18px; }
    &__button--primary { font-size: 18px; }
    &__button--secondary { font-size: 20px; }
  }

  .contact-form {
    &__title { font-size: 26px; }
    &__subtitle { font-size: 20px; }
  }
}

@media (max-width: 375px) {
  .nav__info--block { font-size: 14px; }
  .nav__title-text { font-size: 58px; }
  .nav__menu--title { font-size: 24px; }
  .nav__title-number { font-size: 12px; }
  .nav__title-number--active { font-size: 28px; }
  .nav__logo-image { width: 125px; }

  .trade__title { font-size: 22px; }
  .why__title { font-size: 42px; max-width: 300px; }

  .tour-card {
    &__title { font-size: 28px; }
    &__description { font-size: 14px; }
    &__details { font-size: 16px; }
    &__button--primary { font-size: 16px; }
    &__button--secondary { font-size: 18px; }
  }

}





